body{
    background-color:  rgba(9, 1, 46, 0.808);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subscription-area{
    width: 400px;
    background-color: aliceblue;
    border-radius: 30px;
    padding: 60px;
    margin: 60px auto;
}
img{
    width: 60px;
    height: 60px;
    opacity: .7;
}
h1{
    color: rgba(9, 1, 46, 0.808);
    font-size: 50px;
}
p{
    opacity: 0.7;
    font-size: 15px;
}
.btn{
    background-color:  rgba(9, 1, 46, 0.808);
    color: white;
    width: 100%;
    font-size: 16px;
    padding:20px 0;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}